header {
    background-color: rgb(220, 220, 220) !important;
}

a, a:hover  {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

footer {
    background-color: rgb(220, 220, 220);
    height: 10%;
}


/* registry and login pages */

.registry-form, .login-form {
    width: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(243, 243, 243);
    border: 1px solid darkgray;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
}

/* .submit-button {
    width: 100px;
} */

/* main page */

aside {
    width: 20%;
    border-left: 2px solid rgb(220, 220, 220);
}

.album:hover {
    background-color: rgb(245, 245, 245);
}

.album h2 {
    color: rgba(71, 71, 71, 0.699);
}

.album-active {
    background-color: rgb(245, 245, 245);
}

.album-active > h2 {
    color: black;
}

.albums-dashboard {
    width: 80%;
    border-left: 2px solid rgb(220, 220, 220);
    border-right: 2px solid rgb(220, 220, 220);
}

aside, .albums-dashboard {
    background-color: rgba(220, 220, 220, 0.13);
}

.album-header {
    background-color: rgba(228, 228, 228, 0.329);
    border-bottom: 2px solid rgb(220, 220, 220);
}

.add-image-button {
    border: 1px solid rgba(16, 141, 16, 0.26);
    background-color: rgba(101, 221, 101, 0.151);
    border-radius: 10px;
    margin: 0;
    color: rgb(102, 102, 102);
}

.add-image-button:hover {
    border: 1px solid rgba(16, 141, 16, 0.575);
    background-color: rgba(84, 196, 84, 0.507);
    transition: 0.6s;
    color: rgb(0, 0, 0);
}

.search-album {
    width: 40%;
}

.add-image-block {
    position: fixed;
    transform: translate(-50%, -50%); 
    left: 50%; 
    top: 50%; 
    background-color: rgb(247, 247, 247);
    width: 30%;
    box-shadow: 0 0 6vh rgba(0, 0, 0, 0.274);
    opacity: 1;
}

.close-add-image-block {
    position: absolute;
    top: 2%;
    right: 2%;
}

.close-add-image-block > i {
    font-size: 1.5rem;
}


.image {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.image > img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.find-image-button, .add-album-button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.image-block, .description-block {
    background-color: rgba(17, 17, 17, 0.027);
    height: 83vh;
}

.image-block {
    overflow: hidden;
    border-left: 3px solid rgb(220, 220, 220);
}

.image-block > img {
    height: 100%;
}

.description {
    width: 80%;
    height: max-content;
    background-color: white;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 10px;
}

.description-block {
    border-left: 3px solid rgb(220, 220, 220);
    border-right: 3px solid rgb(220, 220, 220);
}

/* для отображения ошибок */
.error {
    color: red;
    margin: 0;
    height: 1.5rem;
}

.image {
    position: relative;
}

.like-form {
    position: absolute;
    bottom: 0;
    right: 0;
}

.delete-image-form {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-light {
    background-color: rgba(252, 252, 252, 0.5) !important;
    border: none;
}